.main {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.typerace-text {
  max-width: 50vmax;
}
.typerace-input {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #000;
  width: 50vmax;
  margin: 10px;
}
.typerace-text .active {
  background: rgba(255,0,0,0.7);
}
.typerace-text span {
  transition: none;
}
.typerace-stats {
  width: 50vmax;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.typerace-controls {
  width: 50vmax;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.links {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  bottom: 0;
  right: 0;
}
a {
  padding: 5px;
}
* {
  box-sizing: border-box;
  transition: 1s ease all;
}
